.platform-windows {
    font-family: 'Microsoft YaHei', sans-serif !important;
}

:host-context(.platform-windows) .monospace,
:host-context(.platform-windows) .source-code,
.platform-windows .monospace,
.platform-windows .source-code {
    font-family: Monaco, sans-serif !important;
    font-size: 11px !important;
}
