.platform-windows,
.platform-mac {
  font-family: '宋体', 'Microsoft YaHei', sans-serif !important;
}

:host-context(.platform-windows) .monospace,
:host-context(.platform-windows) .source-code,
.platform-windows .monospace,
.platform-windows .source-code {
  font-family: Monaco, sans-serif !important;
  font-size: 11px !important;
}

:host-context(.platform-mac) .monospace,
:host-context(.platform-mac) .source-code,
.platform-mac .monospace,
.platform-mac .source-code {
  font-family: Monaco, sans-serif !important;
  font-size: 11px !important;
}

.platform-windows .source-code .console-message-anchor,
.platform-windows .source-code .console-message-text {
  font-size: 11px !important;
}

.data-grid table.data tr {
  font-family: Monaco, sans-serif !important;
  font-size: 11px !important;
}

.filter-bitset-filter span {
  padding: 1px 3px 1px !important;
  border-radius: 2px !important;
}

.gray-info-message {
  font-style: normal !important;
}

.navigator-sm-folder-tree-item .tree-element-title,
.navigator-sm-script-tree-item .tree-element-title,
.navigator-sm-stylesheet-tree-item .tree-element-title {
  font-style: normal !important;
}

.cm-js-comment {
  font-style: normal !important;
}
